{% load static %}

body{
    background: url("https://i.imgur.com/fidllKC.jpg") center;
}

.jumbotron {
    border: medium solid red;
    background: url("https://thumbs.gfycat.com/DecimalBlandArabianwildcat-size_restricted.gif")
    no-repeat center;
    background-size: cover;
    color: white;
}

.Main{
    background-color: white;
    border: thin solid black;
    background-size: cover;
}

.jumbotron a {
    color: hotpink;
    justify-content: flex-end;
    float: right;
}

.footer {
    border: medium solid red;
    background: url("https://thumbs.gfycat.com/DecimalBlandArabianwildcat-size_restricted.gif")
    no-repeat center;
    background-size: cover;
    color: white;
}

.footer {
    border: thin solid black;
}